#!/usr/bin/env bash
export working_dir=$(pwd);
export jmeter_dir="./../../../../jmeter";
cd $jmeter_dir;
bash setup_jmeter.sh
cd $working_dir;

mkdir -p results;
mkdir -p logs;
mkdir -p reports/{{classname}};

export reports_dir="./reports/{{classname}}";
rm -rf $reports_dir;

export jtl_file="results/{{classname}}.jtl"
rm -f $jtl_file;

export test_load_log="./logs/{{classname}}_test_load.log"
rm -f $test_load_log

export report_generation_log="./logs/{{classname}}_report_generation.log"
rm -f $report_generation_log

export JVM_ARGS="-Xms1024m -Xmx12024m -XX:MaxMetaspaceSize=2048m -d64"

$jmeter_dir/apache-jmeter-5.0/bin/jmeter -p user-jmeter.properties -n -t {{classname}}.jmx -l $jtl_file --forceDeleteResultFile -L INFO -j $test_load_log

$jmeter_dir/apache-jmeter-4.0/bin/jmeter -g $jtl_file -o $reports_dir -L INFO -j $report_generation_log
