#!/usr/bin/env bash
export working_dir=$(pwd);
export jmeter_dir="./../../../../jmeter";
cd $jmeter_dir;
bash setup_jmeter.sh
cd $working_dir;

mkdir -p results;
mkdir -p logs;
mkdir -p reports/{{classname}};

export reports_dir="./reports/{{classname}}";
rm -rf $reports_dir;

export jtl_file="results/{{classname}}.jtl"
rm -f $jtl_file;

$jmeter_dir/apache-jmeter-5.0/bin/jmeter -p user-jmeter.properties -n -t {{classname}}.jmx -l $jtl_file --forceDeleteResultFile -L INFO -j ./logs/{{classname}}_test_load.log

$jmeter_dir/apache-jmeter-4.0/bin/jmeter -g $jtl_file -o $reports_dir -L INFO -j ./logs/{{classname}}_report_generation.log
