testCase{{#operations}}{{#operation}}{{#hasParams}},{{/hasParams}}{{#allParams}}{{operationId}}_{{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}},{{operationId}}_successResponseCode{{/operation}}{{/operations}}
Success{{#operations}}{{#operation}}{{#hasParams}},{{/hasParams}}{{#allParams}}1{{#hasMore}},{{/hasMore}}{{/allParams}},{{successResponseCode}}{{/operation}}{{/operations}}